# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  
* Julia
* Python
* R
* Scala
* SQL

Some of the popular languages that Data Scientists use are:
1. Pyhton
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numPy
3. Matplotlib

| Data Science Tools|
|:-------------------|
|Jupyter Notebook| 
|RStudio| 
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

## Author:  
Rova